<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124422453465-mnmrb69pe778rbq3srkpln5lrarpdoco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124422453465-mnmrb69pe778rbq3srkpln5lrarpdoco</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124422453465-tt7i3du1p19ota355n5is5377uaeo9gk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtG0xIUcAbgOZOglHLnQHavvUnND8Ctio</string>
	<key>GCM_SENDER_ID</key>
	<string>124422453465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimbus.razerhack</string>
	<key>PROJECT_ID</key>
	<string>razer-hack</string>
	<key>STORAGE_BUCKET</key>
	<string>razer-hack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124422453465:ios:f946cc58c56cb53a2c26c8</string>
	<key>DATABASE_URL</key>
	<string>https://razer-hack.firebaseio.com</string>
</dict>
</plist>